 <h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>  
<strong>User Name : {{ user.username }}</strong><br>
<strong>Email : {{ user.email }}</strong><br> <br><br>
<form method="post">
<div class="form-group">
    <input type="email" class="form-control" name="email" value="{{ user.email }}">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="New Password" name="password">
  </div>
   <button type="submit" class="btn btn-default">Reset</button>
  
</form>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp    
<button class="btn btn-primary"><a href="/users/logout"><font color="black">Logout</font></a></button>
